.banner {
    --text-color: rgb(210, 210, 210);
    --background-color: #1E1E1E;
    position: relative;
    display: flex;
    width: 100%;
    height: 75vh;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.body-container {
    --text-color: rgb(210, 210, 210);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.body {
    opacity: 100%;
    height: 100%;
    width: 70%;
}

.banner-img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 60%;
    object-fit: cover;
}

.banner-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    width: 75%;
    height: 50%;
}

.banner-title {
    font-weight: bold;
    margin-top: -50px;
    font-size: 100px;
    padding-bottom: 50px;
    color: var(--text-color);
}

.pip-snippet {
    background-color: var(--background-color);
    display: flex;
    font-size: 64px;
    width: 50%;
    height: 64px;
    border-radius: 15px;
    box-shadow: 0px 0px 25px rgba(31, 31, 31, 0.9);
    text-align: left;
    padding: 20px;
    align-items: center;
    border: solid 1px rgb(15, 15, 15);
}

.pip-snippet-text {
    font-family: "Roboto Mono", serif;
    font-weight: 300;
    font-size: 26px;
}

.features-container {
    width: 100%;
    height: 60vh;
}

.features-title {
    color: var(--text-color);
    width: 100%;
    height: 15%;
    font-size: 48px;
}

.features-items {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between;
}

.feature-box {
    background-color: #303030;
    width: 32%;
    height: 100%;
    opacity: 70%;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all .2s;
}

.feature-box:hover {
    opacity: 100%;
    margin-top: -3px;
}

.feature-box img {
    opacity: 90%;
    position: relative;
    height: 80%;
    object-fit: cover;
    transition: all .2s;
}

.feature-box p {
    color: var(--text-color);
    position: relative;
    padding-top: 4%;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
}

.news-container {
    margin-top: 92px;
    width: 100%;
    height: 70vh;
}

.news-container h1 {
    margin-bottom: 24px;
    color: var(--text-color);
    width: 100%;
    font-weight: bold;
}

.news-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.big-news {
    position: relative;
    width: 100%;
    cursor: pointer;
    opacity: 70%;
    transition: all .2s;
}

.big-news:hover {
    opacity: 100%;
}

.big-news img{
    position: relative;
    height: 70%;
    width: 95%;
    border-radius: 10px;
    object-fit: cover;
    transition: all .2s;
    opacity: 90%;
}

.big-news h1 {
    margin-top: 16px;
    font-size: xx-large;
    font-weight: bold;
}

.big-news h2 {
    font-size: smaller;
    margin-top: -20px;
    font-weight: 200;
    color: rgb(190, 190, 190);
}


.big-news p {
    margin-top: 12px;
    font-weight: 300;
    color: rgb(214, 214, 214);
}


.small-news {
    position: relative;
    height: 100%;
    width: 95%;
}

.small-news-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin-bottom: 12px;
    opacity: 70%;
    cursor: pointer;
    transition: all .2s;
}

.small-news-item img {
    position: relative;
    width: 35%;
    height: 100%;
    opacity: 90%;
    object-fit: cover;
    border-radius: 10px;
}

.small-news-item:hover {
    opacity: 100%;
}

.small-news-info {
    position: relative;
    height: 100%;
    width: 62%;
}

.small-news-info h1 {
    font-size: x-large;
    font-weight: bold;
}

.small-news-info h2 {
    font-size: smaller;
    margin-top: -20px;
    font-weight: 200;
    color: rgb(190, 190, 190);
}

.small-news-info p {
    margin-top: 12px;
    font-weight: 300;
    color: rgb(214, 214, 214);
}

.footer-container {
    margin-top: 64px;
    width: 100%;
    height: 40vh;
    background-color: #252525;
}